<a href="https://colab.research.google.com/github/LataData/imagescrapper/blob/main/wikipage_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""movies=soup.find('tbody',class_"listner_list).find_all("tr',attribute)
print(len(movies))
for movie in movies:
                 name=movie.find("td",class_="titlecolumn").a.text
                 name=movie.find("td",class_="titlecolumn").get_text(strip=true).split('.')[0]
                 year=movie.find("td",class_="titlecolumn").span.text.strip("()")
                 rank=movie.find("td",class_="rating").strong.text
                 print(i)

                 name
"""

'movies=soup.find(\'tbody\',class_"listner_list).find_all("tr\',attribute)\nprint(len(movies))\nfor movie in movies:\n                 name=movie.find("td",class_="titlecolumn").a.text\n                 name=movie.find("td",class_="titlecolumn").get_text(strip=true).split(\'.\')[0]\n                 year=movie.find("td",class_="titlecolumn").span.text.strip("()")\n                 rank=movie.find("td",class_="rating").strong.text\n                 print(i)\n\n                 name\n'

In [2]:
from bs4 import BeautifulSoup
import requests
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
response=requests.get(url)

In [3]:
soup=BeautifulSoup(response.content,"html.parser")
#soup

In [4]:
table=soup.find_all('table')[1]

In [5]:
header=soup.find('div',class_='mw-parser-output').find('table',class_='wikitable sortable').find_all('th')

In [6]:
new=[]
for i in header:
   print(i.text)
   new.append(i.text.strip()) #strip for removing new line

Rank

Name

Industry

Revenue (USD millions)

Revenue growth

Employees

Headquarters

In [7]:
import pandas as pd
df=pd.DataFrame(columns=new)

In [8]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [9]:
header1=soup.find('div',class_='mw-parser-output').find('table',class_='wikitable sortable').find_all('tr')  #list of lists
#print(header1)

In [10]:
row=[]
for i in header1[1:]: #first row is blank so ignoring

  row_data=(i.find_all('td')) #extracting one list at a time from list of list
  each_row_data=[data.text.strip() for data in row_data] #converting td values in a list so that it is easily insertable in df
  length=len(df)
  df.loc[length]=each_row_data

In [11]:
print(df)

   Rank                 Name                    Industry  \
0     1              Walmart       General merchandisers
1     2               Amazon  Retail and Cloud Computing
2     3                Apple        Electronics industry
3     4           CVS Health                  Healthcare
4     5   UnitedHealth Group                  Healthcare
..  ...                  ...                         ...
95   96     General Dynamics        Airspace and defense
96   97                  CHS     Agriculture cooperative
97   98                 USAA                  Financials
98   99  Northwestern Mutual                   Insurance
99  100                Nucor                      Metals

   Revenue (USD millions) Revenue growth  Employees  \
0                 572,754           2.4%  2,300,000
1                 469,822          21.7%  1,608,000
2                 365,817          33.2%    154,000
3                 292,111          32.0%    258,000
4                 287,597          11.8%    350,000
..                    ...            ...        ...
95                 38,469           8.7%    103,100
96                 38,448           1.4%      9,941
97                 37,470           3.2%     37,335
98                 36,751           8.8%      7,585
99                 36,484          81.2%     28,800

                      Headquarters
0            Bentonville, Arkansas
1              Seattle, Washington
2            Cupertino, California
3         Woonsocket, Rhode Island
4            Minnetonka, Minnesota
..                             ...
95                Reston, Virginia
96  Inver Grove Heights, Minnesota
97              San Antonio, Texas
98            Milwaukee, Wisconsin
99       Charlotte, North Carolina

[100 rows x 7 columns]